<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\vladi\appdata\local\programs\python\python311\lib\site-packages (2.9.8)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [6]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [5]:
# текст запроса
query_3_1 = f'''select *
            from public.vacancies 
'''

In [6]:
# результат запроса
df = pd.read_sql(query_3_1, connection)
print('количество вакансий = ', df['id'].count())

C:\Users\vladi\AppData\Local\Temp\ipykernel_15448\3576426643.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_1, connection)

количество вакансий =  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [7]:
# текст запроса
query_3_2 = f'''select *
            from public.employers
'''

In [8]:
# результат запроса
# результат запроса
df = pd.read_sql(query_3_2, connection)
print('количество работодателей = ', df['id'].count())

количество работодателей =  23501

C:\Users\vladi\AppData\Local\Temp\ipykernel_15448\3410973761.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_1, connection)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [10]:
# текст запроса
query_3_3 = f'''select *
            from public.areas
'''

In [16]:
# результат запроса
df = pd.read_sql(query_3_3, connection)
print('количество регионов = ', df['id'].count())

количество регионов =  294

C:\Users\vladi\AppData\Local\Temp\ipykernel_15448\1447154663.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_1, connection)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [12]:
# текст запроса
query_3_4 = f'''select *
            from public.industries 
'''

In [17]:
# результат запроса
df = pd.read_sql(query_3_4, connection)
print('количество сфер деятельности= ', df['id'].count())

количество сфер деятельности=  294

C:\Users\vladi\AppData\Local\Temp\ipykernel_15448\4286704096.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_1, connection)

***

In [ ]:
# выводы по предварительному анализу данных
Первое, на каждого работодателя имеется около 2 вакансий, всего 294 сферы деятельности, и более тысячи регионов, что может быть показателем того, что у многих работодателей франшиза.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [7]:
# текст запроса
query_4_1 = f'''select a.name area,
                count(*) cnt
            from public.vacancies v 
            join public.areas a on v.area_id = a.id
            Group by area
            Order by cnt DESC
            
'''

In [8]:
# результат запроса
df = pd.read_sql(query_4_1, connection)
print(df)

                area   cnt
0             Москва  5333
1    Санкт-Петербург  2851
2              Минск  2112
3        Новосибирск  2006
4             Алматы  1892
..               ...   ...
764       Тарко-Сале     1
765    Новоаннинский     1
766            Бирск     1
767           Сасово     1
768             Анна     1

[769 rows x 2 columns]

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\492581935.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_1, connection)

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [21]:
# текст запроса
query_4_2 =f'''select *
            from public.vacancies 
            where salary_from > 0  or salary_to > 0
            Group by id          
'''

In [22]:
# результат запроса
df = pd.read_sql(query_4_2, connection)
print('количество  = ', df['id'].count())

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\1305742160.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_2, connection)

количество  =  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [36]:
# текст запроса
query_4_3 =f'''select AVG(salary_from), AVG(salary_to)
            from public.vacancies 
 '''

In [37]:
# результат запроса
df = pd.read_sql(query_4_3, connection)
print(df)

            avg            avg
0  71064.657901  110536.741923

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\2239028022.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_3, connection)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [38]:
# текст запроса
query_4_3 =f'''select schedule, count(*), employment as vacancy_count
            from public.vacancies 
            group by schedule, employment 
            Order by vacancy_count DESC
            
            
 '''

In [39]:
# результат запроса
df = pd.read_sql(query_4_3, connection)
print(df)

            schedule  count        vacancy_count
0   Удаленная работа   1312  Частичная занятость
1      Гибкий график    312  Частичная занятость
2        Полный день    347  Частичная занятость
3     Сменный график    101  Частичная занятость
4        Полный день    569           Стажировка
5   Удаленная работа     64           Стажировка
6      Гибкий график    116           Стажировка
7     Сменный график     12           Стажировка
8   Удаленная работа    133     Проектная работа
9     Вахтовый метод      2     Проектная работа
10     Гибкий график     18     Проектная работа
11    Сменный график      1     Проектная работа
12       Полный день    141     Проектная работа
13  Удаленная работа   7802     Полная занятость
14    Сменный график    940     Полная занятость
15     Гибкий график   1593     Полная занятость
16       Полный день  35367     Полная занятость
17    Вахтовый метод    367     Полная занятость

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\2239028022.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_3, connection)

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [40]:
# текст запроса
query_4_3 =f'''select experience 
            from public.vacancies 
            group by experience  
            Order by count(*) ASC
            
            
 '''

In [41]:
# результат запроса
df = pd.read_sql(query_4_3, connection)
print(df)

           experience
0         Более 6 лет
1           Нет опыта
2       От 3 до 6 лет
3  От 1 года до 3 лет

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\2239028022.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_3, connection)

***

In [ ]:
# выводы по детальному анализу вакансий
Общий вывод состоит в том, что все стремятся работать удаленно и для получения качественных сотрудников работодателю старой закалки придется смирится с тем, что мы начинаем жить в своего рода киберпанке из-за чего надо подстаиваться под общество, так же надо не забывать, что WORK hard становится на задний план и все должны искать баланс в жизни

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [7]:
# текст запроса
query_5_1 =f'''select name
            from public.employers
            group by name
            order by count(*) DESC
            
            
 '''

In [8]:
# результат запроса
df = pd.read_sql(query_5_1, connection)
print(df)

                               name
0                  Новые Технологии
1                       Перспектива
2                            Модуль
3                           Бастион
4                          Прогресс
...                             ...
23170                    KR Digital
23171  Корвет, Акционерная компания
23172                       Payture
23173                     Keep Calm
23174               Market Provider

[23175 rows x 1 columns]

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\3679568249.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_1, connection)

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [81]:
# текст запроса
query_5_2_1 =f'''select a.name,
            COUNT(distinct e.id) cnt_emp,
            COUNT(distinct v.id) cnt_vac
            from areas a
            LEft join employers e on a.id = e.area
            LEFT JOIN vacancies v on v.area_id = a.id
            where v.id is null
            group by a.id
            order by cnt_emp desc
            limit 1
            
''' 
#ЗАПРОС 2 
query_5_2_2 =f'''select a.name,
            COUNT(e.id) cnt_emp
            from areas a
            LEft join employers e on a.id = e.area
            WHERE e.id NOT IN (SELECT v.employer_id FROM vacancies v WHERE v.employer_id IS NOT NULL)
            group by a.id
            order by cnt_emp desc
            limit 1
            
            
 '''

In [82]:
# результат запроса
df = pd.read_sql(query_5_2_1, connection)
df2 = pd.read_sql(query_5_2_2, connection)
print(df,df2)

     name  cnt_emp  cnt_vac
0  Россия      410        0      name  cnt_emp
0  Москва     2948

C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\1892735914.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_2_1, connection)
C:\Users\vladi\AppData\Local\Temp\ipykernel_2452\1892735914.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(query_5_2_2, connection)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [23]:
# текст запроса
# текст запроса
query_5_3 =f'''select COUNT(distinct area) as regions_count
            from employers 
            group by id
            order by regions_count DESC
            LIMIT 1;
            
'''

In [24]:
# результат запроса
df = pd.read_sql(query_5_3, connection)
print(df)

   regions_count
0              1

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\2306152729.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_3, connection)

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [26]:
# текст запроса
query_5_4 = f'''select count(*) cnt
                from employers e
                left join employers_industries ei on ei.employer_id = e.id
                where industry_id is null
            
'''

In [27]:
# результат запроса
df = pd.read_sql(query_5_4, connection)
print(df)

    cnt
0  8419

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\936505913.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_4, connection)

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [43]:
# текст запроса
query_5_5 = f'''select e.name , Count(ei.employer_id)            
                from employers e
                Left join employers_industries ei on ei.employer_id = e.id
                GROUP BY id
                having count(ei.industry_id) = 4 
                Order by 1
                LIMIT 3;
            
'''

In [44]:
# результат запроса
df = pd.read_sql(query_5_5, connection)
print(df)

           name  count
0  101 Интернет      4
1      21vek.by      4
2          2ГИС      4

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\3346907772.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_5, connection)

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [7]:
# текст запроса
query_5_6 = f'''select COUNT(*) cnt
                from industries  ind
                left join employers_industries ei on ei.industry_id = ind.id
                where name = 'Разработка программного обеспечения'
            
'''

In [8]:
# результат запроса
df = pd.read_sql(query_5_6, connection)
print(df)

    cnt
0  3553

C:\Users\vladi\AppData\Local\Temp\ipykernel_1236\1177604325.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_6, connection)

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [64]:
# код для получения списка городов-милионников
query_5_7 = f'''(select a.name, count(v.id) as cnt
from public.employers as e
join public.vacancies as v on e.id = v.employer_id
join public.areas as a on v.area_id = a.id
where e.name = 'Яндекс'
group by a.name
having a.name in {t_mill}
order by 2 asc) as t_1
union all
(select 'total', sum(cnt)
from t_1)
'''

NameError: name 't_mill' is not defined

In [65]:
# текст запроса
import requests
from bs4 import BeatifulSoup
#URL веб-страницы
url ='https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8' 
#Отправление GET запросов
response = requests.get(url)
#Создать объект
soup = BeatifulSoup(response.txt, 'html.parser')
table = soup.find("table")
print(table)

ImportError: cannot import name 'BeatifulSoup' from 'bs4' (c:\Users\vladi\AppData\Local\Programs\Python\Python311\Lib\site-packages\bs4\__init__.py)

In [ ]:
# результат запроса

***

In [ ]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [66]:
# текст запроса
query_6_1 = '''select count(*)
                from vacancies
                where lower(name) like '%data%' or lower(name) like '%данн%'
'''

In [69]:
# результат запроса
answer_6_1 = pd.read_sql_query(query_6_1, connection)
answer_6_1

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\1685889629.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  answer_6_1 = pd.read_sql_query(query_6_1, connection)

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [74]:
# текст запроса
query = f'''   Select count(v.name)
                from vacancies v
                where ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
                OR ((name ILIKE '%ML%')
                AND (name NOT ILIKE '%HTML%'))
                OR (name ILIKE '%machine learning%')
                OR (name ILIKE '%машинн%обучен%')
                AND (key_skills IS NOT NULL))
                AND (v.name ILIKE '%junior%'
                OR v.experience ILIKE '%Нет опыта%'
                OR v.employment ILIKE '%Стажировка%')
    '''

In [76]:
# результат запроса
df= pd.read_sql_query(query,connection)
display(df)

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\941695990.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query,connection)

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [86]:
# текст запроса
query_6_3 =f'''SELECT COUNT(*) AS sql_postgres_related_vacancies
                FROM public.VACANCIES
                WHERE
                ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
                OR ((name LIKE '%ML%' AND name NOT LIKE '%HTML%'))
                OR (name ILIKE '%machine learning%')
                OR (name ILIKE '%машинн%обучен%')
                AND (key_skills IS NOT NULL))
                AND (key_skills LIKE '%SQL%' 
                OR key_skills LIKE '%postgres%')
'''

In [87]:
# результат запроса
df= pd.read_sql_query(query_6_3,connection)
display(df)

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\216735972.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_6_3,connection)

   sql_postgres_related_vacancies
0                             201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [81]:
# текст запроса
query_6_4 =f'''SELECT COUNT(*) AS sql_postgres_related_vacancies
                FROM public.VACANCIES
                WHERE
                ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
                OR ((name LIKE '%ML%' AND name NOT LIKE '%HTML%'))
                OR (name ILIKE '%machine learning%')
                OR (name ILIKE '%машинн%обучен%')
                AND (key_skills IS NOT NULL))
                AND (key_skills LIKE '%Python%' 
                )
'''

In [85]:
# результат запроса
df= pd.read_sql_query(query_6_4,connection)
display(df)

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\1642868050.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_6_4,connection)

   sql_postgres_related_vacancies
0                             351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [83]:
# текст запроса
query_6_5 =f'''SELECT 
                    AVG((LENGTH(v.key_skills) - LENGTH(replace(v.key_skills,CHR(9),'')))::integer+1) as result
                    FROM vacancies v
                    WHERE (
                    v.name ILIKE '%data scientist%' OR
                    v.name ILIKE '%data science%' OR
                    v.name ILIKE '%исследователь данных%' OR
                    v.name ILIKE '%машинн%обучен%' OR
                 v.name LIKE '%ML%' AND v.name NOT LIKE '%HTML%')
                    AND            
                    v.key_skills IS NOT NULL
'''

In [84]:
# результат запроса
df= pd.read_sql_query(query_6_5,connection)
display(df)

C:\Users\vladi\AppData\Local\Temp\ipykernel_48880\2087552311.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(query_6_5,connection)

     result
0  6.401961

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [31]:
# текст запроса
query = f''' with x as (select
                v.experience ex, round(avg(coalesce(((v.salary_from+v.salary_to)/2),v.salary_from,v.salary_to)), 0) avg_salary_total
                from vacancies v
                where(v.name ilike '%data scientist%' 
                or v.name ilike '%data science%' 
                or v.name ilike '%data science%'
                or v.name ilike '%исследователь данных%'
                or( v.name like '%ML%' and v.name not like '%HTML%')
                or v.name ilike '%machine learning%'
                or v.name ilike '%машинн%обучен%')
                
                and v.salary_from is not null and v.salary_to is not null
                group by v.experience)
                select
                *
                from x
                union all
                select 'avg', round(avg(x.avg_salary_total),0)
                from x
    
'''

In [32]:
# результат запроса
df = pd.read_sql_query(query, connection)
df

C:\Users\vladi\AppData\Local\Temp\ipykernel_1236\1115395102.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                   ex  avg_salary_total
0           Нет опыта           89167.0
1  От 1 года до 3 лет          162182.0
2       От 3 до 6 лет          248830.0
3                 avg          166726.0

***

In [ ]:
# выводы по предметному анализу

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования